<div id="top-bar">
  <div id="top-logo">
    <img src="img/logos/oakland-scene.png" />
  </div>
  <div data-region="filter" class="filter"></div>
  
</div> <!-- #top-bar -->

<!-- Site nav not shown on single pages -->
<nav class="explore-nav">
  <ul>
    <a href="#app/redirect?url=#app/now"><li id="nav-now" data-type="now"><div>Home</div></li></a>
    <a href="#app/redirect?url=#app/places"><li id="nav-places" data-type="places"><div>Places</div></li></a>
    <a href="#app/redirect?url=#app/events"><li id="nav-events" data-type="events"><div>Events</div></li></a>
    <a href="#app/redirect?url=#app/specials"><li id="nav-specials" data-type="specials"><div>Specials</div></li></a>
    <a href="#app/redirect?url=#app/news"><li id="nav-news" data-type="news"><div>News</div></li></a>
  </ul>
</nav> <!-- #site-nav -->