<div id="view-options">
	<!-- Hide/show these divs according to whats active -->

	<div class="filter-category">
		<div class="icon-container icon-filter-search">
			<img src="img/icons/search.png">
		</div>
		<select></select>
	</div>

	<div class="filter-search">
		<div class="icon-container icon-filter-category">
			<img src="img/icons/x.png" />
		</div>
		{{#if inputType}}
			<input type="{{inputType}}" class="feed-search" placeholder="keyword" />
		{{else}}
			<input type="search" class="feed-search" placeholder="keyword" />
		{{/if}}
	</div>
	
</div>