<div id="top-bar">
  <div id="top-logo">
    <img src="img/logos/oakland-white-betatag-100w.png" />
  </div>
  <!-- When we have logins, display username here. Placeholder for now -->
  <div id="current-user">&nbsp;</div>
  <nav id="view-options">
    <!-- Greg: Disabled until features implemented
    
    <img class="icon-display icon-display-list" src="img/icons/list.png" />
    <img class="icon-display icon-display-map" src="img/icons/map.png" />
    <img class="icon-search" src="img/icons/search.png" />
     -->
  </nav> <!-- .view-options -->
</div> <!-- #top-bar -->

<!-- Site nav not shown on single pages -->
<nav class="explore-nav">
  <ul>
    <a href="#app/now"><li id="nav-now" data-type="now"><div>Home</div></li></a>
    <a href="#app/places"><li id="nav-places" data-type="places"><div>Places</div></li></a>
    <a href="#app/events"><li id="nav-events" data-type="events"><div>Events</div></li></a>
    <a href="#app/specials"><li id="nav-specials" data-type="specials"><div>Specials</div></li></a>
    <a href="#app/news"><li id="nav-news" data-type="news"><div>News</div></li></a>
  </ul>
</nav> <!-- #site-nav -->