<section class="about">
	<article class="pic-of-day">
    	<h2 class="welcome-title">Oakland Pic of the Day</h2>
    	<img src="img/pic-of-day/all-oakland.png" />
	</article>
	<article class="announcement">
		<h2>Announcement</h2>
		<div>
			<h3 class="item-title">Scenable is a flexible, customizable platform designed to a flexible. designed to a flexible.</h3>
			<p>Scenable is a flexible, customizable platform designed to give yourlocal community a powerful and engaging online and mobile presence. Whether your community is large or small, residential or</p>
		</div>
	</article>
	<article>
	    <p>Have any ideas or comments? Contact us and be entered to win an Oakland Scene t-shirt!</p>

		<div class="actions-list-container">
		    
		    <nav class="action-list">
			    <ul>
			    	<a href="https://www.facebook.com/pages/Only-in-Oakland/351740933073" target="_blank"><li class="action-facebook"><div>Facebook</div></li></a>
			    	<a href="https://twitter.com/only_in_oakland" target="_blank"><li class="action-twitter"><div>Twitter</div></li></a>
			    	<a href="mailto:contact@scenable.com"><li class="action-email"><div>Email</div></li></a>
			    </ul>
			</nav>
		</div>
		<p class="description">Brought to you by the <a href="http://oaklandbid.org/" target="_blank">Oakland Business Improvement District</a>, <a href="http://ppnd.org/" target="_blank">Pittsburgh Partnership for Neighborhood Development</a> and <a href="http://scenable.com" target="_blank">Scenable</a>.</p>
	</article>
</section>