
<article class="about">
    <h1 class="item-title">Welcome to the Oakland Scene!</h1>
    <p>This app is designed to connect you to all the great things to see and do in Oakland. It is constantly being updated with new happenings, so make sure to keep checking back!</p><br />
    <p>Have any ideas or comments? Email us using the link below and be entered to win an Oakland Scene t-shirt!</p>

	<div class="shirt-actions">
	    
	    <nav class="action-list">
		    <ul>
		    	<a href="https://www.facebook.com/pages/Only-in-Oakland/351740933073" target="_blank"><li class="action-facebook"><div>Facebook</div></li></a>
		    	<a href="https://twitter.com/only_in_oakland" target="_blank"><li class="action-twitter"><div>Twitter</div></li></a>
		    	<a href="mailto:contact@scenable.com"><li class="action-email"><div>Email</div></li></a>
		    </ul>
		</nav>
		<div class="shirt-container">
	    	<img src="img/assets/shirt.png" />
	    </div>
	</div>
	<p class="description">Brought to you by the <a href="http://oaklandbid.org/" target="_blank">Oakland Business Improvement District</a>, <a href="http://ppnd.org/" target="_blank">Pittsburgh Partnership for Neighborhood Development</a> and <a href="http://scenable.com" target="_blank">Scenable</a>.</p>
</article>