 <ul class="feed">

{{#models}}
  <li>
    <a href="#app/specials/{{id}}">
      <div class="item-thumb">
          <img src="img/defaults/default-special.png" />
      </div>

      <section class="item-content">
        <h1 class="item-title">{{title}}</h1>
        <ul class="item-details">
          <li>{{place}}</li>
          <li>Until {{dexpires}}</li>
          <li>{{total_available}} Available</li>
          <li>
            <ul class="category">
              <li>Food</li>
              <li>Services</li>
            </ul>
        </ul> <!-- .item-details -->
      </section> <!-- .item-content -->

    </a>
  </li>
{{/models}}

</ul>