<li>
  <a href="#app/places/{{id}}">
    
    <div class="item-thumb">
      {{#if image}}
        <img src="{{domainUri image}}" />
      {{else}}
        <img src="img/defaults/default-place.png" />
      {{/if}}
    </div>

    <section class="item-content">
      <h1 class="item-title">{{name}}</h1>
      <ul class="item-details">
        <li>{{location.address}}</li>
        <li>
          <!-- Obviously this is static content and wont be -->
          <ul class="category">
            <li>Food</li>
            <li>Retail</li>
          </ul> <!-- .category -->
        </li>
      </ul> <!-- .item-details -->
    </section> <!-- .item-content -->

  </a>
</li> <!-- feed list item -->
