<li>
  <a href="#app/specials/{{id}}">
    <div class="item-thumb">
      {{#if place.image}}
        <img src="{{place.image}}" />
      {{else}}
        <img src="img/defaults/default-special.png" />
      {{/if}}
    </div>
    <section class="item-content">
      <h1 class="item-title">{{title}}</h1>
      <ul class="item-details">
        <li>at {{place.name}}</li>
        {{#if dexpires}}
          <li>{{formatExpires dexpires}}</li>
        {{/if}}
        <li>
          <ul class="category">
            <li>Food</li>
            <li>Services</li>
          </ul>
      </ul> <!-- .item-details -->
    </section> <!-- .item-content -->
  </a>
</li>