<div id="map_canvas">
  I am a map!
</div>

<div class="custom-infowindow">
  <div class="prev">
    <img src="img/assets/arrow-left.png" />
  </div>
  
  <div class="infowindow-info">
    
    <div class="item-thumb">
      <img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-ash2/161484_14205248_278738875_n.jpg" />
    </div>

    <div class="item-content">
      <h1>Name</h1>
      <!-- If its an event 
      <p>Date</p> -->
      <ul class="category">
        <li>Category1</li>
        <li>Category2</li>
      </ul>

    </div> <!-- .item-content -->

  </div> <!-- .infowindow-info -->

  <div class="next">
    <img src="img/assets/arrow-right.png">
  </div>

</div> <!-- .custom-infowindow -->

<div class="load-more">
  Load more...
</div>

<div class="sorting">
    <select>
        <option>Category</option>
        <option>Retail</option>
        <option>Food</option>
        <option>Services</option>
    </select>
</div>
