<div id="map_canvas">
  I am a map!
</div>

<div class="custom-infowindow">
  <div class="prev">
    <img src="img/assets/arrow-left.png" />
  </div>
  <div class="infowindow-info">
    <img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-ash2/161484_14205248_278738875_n.jpg" />
    <h1>Item title</h1>
    <p>Item address</p>
    <p>Category1, Category2</p>
  </div>
  <div class="next">
    <img src="img/assets/arrow-right.png">
  </div>
</div>

<div class="load-more">
  Load more...
</div>

<div class="sorting">
  <nav>
    <ul>
      <li><a class="category-button">Category</a></li>
    </ul>
  </nav>
</div>