<div class="single-wrap">
    <header class="single-header">
        <div class="item-thumb">
            {{#if place.image}}
                <img src="{{domainUri place.image}}" />
            {{else}}
                <img src="img/defaults/default-special.png" />
            {{/if}}
        </div>
        <div class="item-content">
            <h1 class="item-title">{{title}}</h1>
            <ul class="item-details">
                <li>at <a href="#app/places/{{place.id}}">{{place.name}}</a></li>
                <li>{{place.location.address}}</li>
                {{#if dexpires}}
                    <li>{{formatExpires dexpires}}</li>
                {{/if}}
                <li>
                    <ul class="category">
                        <li>Food</li>
                        <li>Retail</li>
                    </ul>
                </li>
            </ul> <!-- .item-details -->
        </div>
    </header>

    <article class="single-content" id="special-single-content">
        <div id="singleMapCanvas">
            <img src="http://2d-code.co.uk/images/qr-map.jpg" />
            <h1 class="single-title">Directions</h1>
        </div>
        <p>{{description}}</p>
        <div class="push"></div>
    </article>
</div> <!-- .single-wrap -->

<footer class="special-status">
    <div class="grab-it action-btn">Grab it!</div>
</footer>