<script>

$(document).ready(function(){
   $('.place-info').css('background','green');
   console.log('working');
});
</script>

<div class="single-wrap">
    <header class="single-header">

        <div class="item-thumb">
            {{#if image}}
                <img src="{{domainUri image}}" />
            {{else}}
                <img src="img/defaults/default-event.png" />
            {{/if}}
        </div>

        <article class="item-content">
            <h1 class="item-title">{{name}}</h1>
            <ul class="item-details">
                <li>{{location.address}}</li>
                <li>
                    <ul class="category">
                        <li>Food</li>
                        <li>Retail</li>
                    </ul>
                </li>
            </ul>
        </article> <!-- .item-content -->

    </header> <!-- .single-header -->

    <nav class="single-place-nav">
        <ul>
            <li class="active" id="place-nav-info">Info</li>
            <li id="place-nav-events">Events</li>
            <li id="place-nav-specials">Specials</li>
        </ul>
    </nav>

    <section class="single-content">

        <article class="place-info">
            <ul class="item-details">
                <li>
                    <span class="detail-title">Hours:</span><br />
                    Mon-Fri: 3pm-10pm <br />
                    Sat: 5pm-7pm<br /> 
                    Sun: Closed<br />
                </li>
                <li><a href="http://coolwebsite.com">Website</a></li>
            </ul>

            <nav class="action-list">
                <ul>
                    {{#if phone}}
                    <a href="tel:{{phone}}" target="blank"><li>Call</li></a>
                    {{/if}}
                    {{#if is_geolocated}}
                    <a href="" target="blank"><li>Directions</li></a>
                    {{/if}}
                    {{#if url}}
                    <a href="{{url}}" target="blank"><li>Website</li></a>
                    {{/if}}
                </ul>
            </nav>

            <div id="singleMapCanvas">
                <img src="http://2d-code.co.uk/images/qr-map.jpg" />
            </div>

            <p>{{description}}</p>

            <div class="social">
                {{#if fb_id}}
                <a href="http://facebook.com/{{fb_id}}" target="blank" class="action-btn">
                    <div class="facebook">
                        Facebook
                    </div>
                </a>
                {{/if}}

                </div>
                {{#if twitter_username}}
                <a href="http://twitter.com/{{twitter_username}}" target="blank" class="action-btn">
                    <div class="twitter">
                        {{twitter_username}}
                    </div>
                </a>
                {{/if}}
            </div> <!-- .social -->

        </article> <!-- .place-info -->

        <article class="place-events">
            <ul class="feed">
                <!-- Event feed items here -->
                kjlkjlkj
            </ul>
        </article>

        <article class="place-specials">
            <ul class="feed">
                <!-- Special feed items here -->    
                asdas
            </ul>
        </article>
    </section>

</div>