<div class="single-wrap">
    <header class="single-header">

        <div class="item-thumb">
            {{#if image}}
                <img src="{{domainUri image}}" />
            {{else}}
                <img src="img/defaults/default-event.png" />
            {{/if}}
        </div>

        <article class="item-content">
            <h1 class="item-title">{{name}}</h1>
            <ul class="item-details">
                <li>{{location.address}}</li>
                {{#if categories}}
                <li>
                    <ul class="category">
                        {{#each categories}}
                        <li>{{label}}</li>
                        {{/each}}
                    </ul>
                </li>
                {{/if}}
            </ul>

        </article> <!-- .item-content -->

    </header> <!-- .single-header -->

   <!--  <nav class="single-place-nav">
        <ul>
            <li class="active" id="place-nav-info">Info</li>
            <li id="place-nav-events">Events</li>
            <li id="place-nav-specials">Specials</li>
        </ul>
    </nav>
 -->
    <section class="single-content">

        <article class="place-info">
            {{#if hours}}
            <div class="hours">
                <div class="detail-title">Hours:</div>
                <ul class="hours">
                    {{#each hours}}
                        <li>{{days}}: {{formatHoursString hours}}</li>
                    {{/each}}
                </ul>    
            </div>
            {{/if}}
            <nav class="action-list">
                <ul>
                    {{#if phone}}
                    <a href="tel:{{phone}}"><li class="action-call"><div>Call</div></li></a>
                    {{/if}}
                    {{#if fb_id}}
                    <a href="http://facebook.com/{{fb_id}}" target="_blank"><li class="action-facebook"><div>Facebook</div></li></a>
                    {{/if}}
                    {{#if twitter_username}}
                    <a href="" target="_blank"><li class="action-twitter"><div>Twitter</div></li></a>
                    {{/if}}
                    {{#if url}}
                    <a href="{{url}}" target="_blank"><li class="action-website"><div>Website</div></li></a>
                    {{/if}}
                </ul>
            </nav>

            {{#if location.geocoding}}
            <div class="map-canvas">
                {{#if location.directionsUrl}}
                <a href="{{location.directionsUrl}}" target="_blank">
                {{/if}}
                <img src="{{getStaticMap location.geocoding.latitude location.geocoding.longitude}}"/>
                {{#if location.directionsUrl}}
                </a>
                <p>Click map for directions</p>
                {{/if}}
            </div>
            {{/if}}

            <p class="description">{{description}}</p>

        </article> <!-- .place-info -->

       <!--  <article class="place-events">
            <ul class="feed">
            </ul>
        </article>

        <article class="place-specials">
            <ul class="feed">
            </ul>
        </article> -->
    </section>

</div>