<div class="single-wrap">
    <header class="single-header" id="special-single-head">
        <div class="item-thumb">
            {{#if place.image}}
                <img src="{{domainUri place.image}}" />
            {{else}}
                <img src="img/defaults/default-special.png" />
            {{/if}}
        </div>
        <div class="item-content">
            <h1 class="item-title">{{title}}</h1>
            <ul class="item-details">
                {{#place}}
                    <li>at <a href="#app/places/{{place.id}}">{{name}}</a></li>
                    <li>{{location.address}}</li>
                    {{#if categories}}
                    <li>
                        <ul class="category">
                            {{#each categories}}
                            <li>{{label}}</li>
                            {{/each}}
                        </ul>
                    </li>
                    {{/if}}
                {{/place}}
            </ul> <!-- .item-details -->
        </div>
    </header>

    <article class="single-content" id="special-single-content">
        {{#place.location.geocoding}}
            <div class="map-canvas">
                <img src="{{getStaticMap latitude longitude}}"/>
            </div>
            {{/place.location.geocoding}}
        {{#if dexpires}}
            <h1 class="item-title">{{formatSimple dexpires}}</h1>
        {{/if}}
        <p>{{description}}</p>
        <div class="coupon-info">
            <h1>To redeem this coupon:</h1>
            <p class="description">Show this screen at {{place.name}} to redeem this coupon.</p>
        </div>
        <div class="push"></div>
    </article>
</div> <!-- .single-wrap -->