<div class="single-wrap">
    <header class="single-header">
        <div class="item-thumb">
            {{#if image}}
                <img src="{{domainUri image}}" />
            {{else}}
                <img src="img/defaults/default-event.png" />
            {{/if}}
        </div>
        <div class="item-content">
            <h1 class="item-title">{{name}}</h1>
            <ul class="item-details">
                <li>Starts: <strong>{{formatLongDate dtstart}}</strong><br/>
                Ends: <strong>{{formatLongDate dtend}}</strong></li>
                {{#place}}
                    <li>at <a href="">{{name}}</a></li> 
                {{/place}}
                <li>
                    {{#if categories}}
                    <li>
                        <ul class="category">
                            {{#each categories}}
                            <li>{{label}}</li>
                            {{/each}}
                        </ul>
                    </li>
                    {{/if}}
                </li>
            </ul>
        </div>
    </header> <!-- .single-header -->

    <article class="single-content" id="event-single-content">
        {{#place.location.geocoding}}
        <div class="map-canvas">
            <img src="{{getStaticMap latitude longitude}}"/>
        </div>
        {{/place.location.geocoding}}

        <nav class="action-list">
            <ul>
                {{#if fb_id}}
                <a href="http://facebook.com"><li class="action-facebook"><div>Facebook</div></li></a>
                {{/if}}
                {{#if twitter_username}}
                <a href=""><li class="action-twitter"><div>Twitter</div></li></a>
                {{/if}}
                {{#if url}}
                <a href="{{url}}"><li class="action-website"><div>Website</div></li></a>
                {{/if}}
            </ul>
        </nav>

        <p class="description">{{description}}
        </p>

    </article> <!-- .single-content -->
</div>