<div class="top-logo">
  <img src="../img/logos/oakland-white-betatag-100w.png">
</div>
<div class="current-user">laras126</div>
<nav class="view-options">
  <!-- Map icon to be switched to list depending on template -->
  <!-- Also the icons are in reverse order for the layout -->
    <div class="mode-button">
      <div class="mode-button-map">map</div>
      <div class="mode-button-list">list</div>
      <!-- <img src="../img/icons/map.png"> -->
    </div>|
    <div class="search-button">
      search
      <!-- <img src="../img/icons/search.png"> -->
    </div>
</nav> <!-- .view-options -->
