<div class="page-coupon">
	<img src="../img/logos/oakland-white-betatag-100w.png" />   
    <article class="about">
        <p>Oakland has it's own app! Wha whaaaa>? Yep, Oakland is the first Pennsylvania neighborhood to have its own app. How crazy that its us! We are always open to feedback, so if you spot any bugs or have ideas for improvements, tweet at us or find us on facebook. Thnx n luv alwayz!</p>
    </article>

    <!-- Where 'Alert' is either that or 'Notice' -->
    <!-- <h2 class="featured-title">Alert:</h2> -->
    <ul class="feed">
        <li> 
			<div class="item-thumb">
				<img src="../img/icons/alert.png" />
			</div>

			<section class="item-content">
				<h1 class="item-title">A crazy think is happening in Oakland! Woah woah watch out for the traffic, also greasy sandwiches!</h1>
			</section>
		</li> <!-- feed item -->
    </ul>

</div>