
<article class="about">
    <h1 class="item-title">Welcome to the Oakland Scene!</h1>
    <p>This app is designed to connect you to all the great things to see and do in Oakland. Many new and exciting features will be added in the coming weeks, so make sure to keep checking back!</p><br />
    <p>What feature would you like to see? Let us know and be entered to win an Oakland Scene t-shirt!</p>

	<div class="shirt-actions">
	    <div class="shirt-container">
	    	<img src="img/assets/shirt.png" />
	    </div>
	    <nav class="action-list">
		    <ul>
		    	<a href="mailto:mary@oaklandbid.com"><li class="action-email"><div>Email</div></li></a>
		    	<a href="https://www.facebook.com/pages/Only-in-Oakland/351740933073" target="_blank"><li class="action-facebook"><div>Facebook</div></li></a>
		    	<a href="https://twitter.com/only_in_oakland" target="_blank"><li class="action-twitter"><div>Twitter</div></li></a>
		    </ul>
		</nav>
	</div>
	<p class="description">Brought to you by the <a href="http://oaklandbid.org/" target="_blank">Oakland Business Improvement District</a>, <a href="http://ppnd.org/" target="_blank">Pittsburgh Partnership for Neighborhood Development</a> and <a href="http://scenable.com" target="_blank">Scenable</a>.</p>
</article>