/* line 17, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 33, ../sass/_grid.scss */
body {
  width: 100%;
  overflow: hidden;
  *zoom: 1;
}

/* GRID */
/* COLORS */
/* CSS3 */
/* MIXINS */
/* EXTENDS */
/* line 80, ../sass/_base.scss */
.flex-img, .item-thumb > img {
  height: auto;
  width: 100%;
}

/* line 85, ../sass/_base.scss */
.horiz-ul, .explore-nav, #top-bar-single, .single-place-nav, .category, .sorting {
  display: inline;
  float: left;
  width: 100%;
  margin: 0 0%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 88, ../sass/_base.scss */
.horiz-ul li, .explore-nav li, #top-bar-single li, .single-place-nav li, .category li, .sorting li {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  float: left;
  text-align: center;
}
/* line 93, ../sass/_base.scss */
.horiz-ul li:last-child, .explore-nav li:last-child, #top-bar-single li:last-child, .single-place-nav li:last-child, .category li:last-child, .sorting li:last-child {
  margin-right: 0;
}

/* line 3, ../sass/main.scss */
body {
  width: 100%;
  height: 100%;
  font-family: Helvetica, Arial, sans-serif;
  overflow: auto;
}

/* line 10, ../sass/main.scss */
#panel-explore {
  background: #aad49a;
  height: 100%;
}

/* line 15, ../sass/main.scss */
#header-view {
  overflow: hidden;
  *zoom: 1;
  height: 100px;
  position: fixed;
  width: 100%;
  z-index: 999;
}

/* line 23, ../sass/main.scss */
#login-view {
  background: #444444;
}

/* line 27, ../sass/main.scss */
#welcome-logo {
  display: block;
  margin: auto;
}

/* line 32, ../sass/main.scss */
#top-bar {
  background: #444444;
  height: 44px;
}
/* line 36, ../sass/main.scss */
#top-bar > * {
  display: inline;
  float: left;
  width: 33.33333%;
  margin: 0 0%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 42, ../sass/main.scss */
#top-bar #top-logo img {
  width: auto;
  position: relative;
  z-index: 99999;
  height: 50px;
}
/* line 50, ../sass/main.scss */
#top-bar #view-options {
  padding: 0.5em;
}
/* line 53, ../sass/main.scss */
#top-bar #view-options img {
  height: 20px;
  float: right;
  cursor: pointer;
}
/* line 58, ../sass/main.scss */
#top-bar #view-options img.icon-display {
  margin-left: 10px;
}
/* line 64, ../sass/main.scss */
#top-bar #current-user {
  text-align: center;
  display: inline;
  color: #fff;
  margin-top: 10px;
}

/* line 72, ../sass/main.scss */
#content-view {
  position: relative;
  height: 100%;
  overflow: hidden;
  *zoom: 1;
}
/* line 74, ../sass/main.scss */
#content-view > div:first-child {
  margin-top: 90px;
  height: 100%;
}
/* line 82, ../sass/main.scss */
.single-page #content-view {
  margin: 0 5px;
  background: #f1f1f1;
  -webkit-box-shadow: #666666 0 0 2px;
  -moz-box-shadow: #666666 0 0 2px;
  box-shadow: #666666 0 0 2px;
  padding: 10px;
}

/* NAVIGATION ---------- */
/* line 96, ../sass/main.scss */
.explore-nav {
  position: relative;
  bottom: 13px;
  -webkit-box-shadow: 1px 1px 3px black;
  -moz-box-shadow: 1px 1px 3px black;
  box-shadow: 1px 1px 3px black;
  z-index: 999;
}
/* line 103, ../sass/main.scss */
.explore-nav ul {
  overflow: hidden;
  *zoom: 1;
}
/* line 107, ../sass/main.scss */
.explore-nav li {
  display: inline;
  float: left;
  width: 20%;
  margin: 0 0%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer;
  border-left: 1px solid #333;
  padding: 0;
  margin: 0;
  height: 50px;
  background-color: #f1f1f1 !important;
}
/* line 118, ../sass/main.scss */
.explore-nav li a {
  font-size: 0.7em;
  text-align: center;
  display: block;
  margin: 35px auto auto;
  color: inherit;
  text-decoration: inherit;
}
/* line 72, ../sass/_base.scss */
.explore-nav li a:active, .explore-nav li a:focus {
  outline: none;
}
/* line 126, ../sass/main.scss */
.explore-nav li.active {
  background-color: #aad49a !important;
}
/* line 130, ../sass/main.scss */
.explore-nav li#nav-now {
  background: url("../../img/icons/feed-nav/now.png") center 10px no-repeat;
}
/* line 134, ../sass/main.scss */
.explore-nav li#nav-places {
  background: url("../../img/icons/feed-nav/places.png") center 10px no-repeat;
}
/* line 138, ../sass/main.scss */
.explore-nav li#nav-events {
  background: url("../../img/icons/feed-nav/events.png") center 10px no-repeat;
}
/* line 142, ../sass/main.scss */
.explore-nav li#nav-news {
  background: url("../../img/icons/feed-nav/news.png") center 10px no-repeat;
}
/* line 146, ../sass/main.scss */
.explore-nav li#nav-specials {
  background: url("../../img/icons/feed-nav/specials.png") center 10px no-repeat;
}

/* COMPONENTS --------- */
/* line 155, ../sass/main.scss */
.category {
  margin: 0.5em 0;
}
/* line 157, ../sass/main.scss */
.category li {
  background-color: #f9f9f9;
  border: 1px solid #e1e1e1;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  color: #666;
  font-size: 0.8em;
  padding: 0.07em 1em;
  margin-right: 0.5em;
}

/* FEED ITEMS --------- */
/* line 171, ../sass/main.scss */
.feed {
  margin-bottom: 1.5em;
}
/* line 174, ../sass/main.scss */
.feed > li {
  overflow: hidden;
  *zoom: 1;
  font-size: 0.9em;
  line-height: 1.3em;
  padding: 2%;
  margin: 1%;
  border-bottom: 1px solid #aaa;
  -webkit-box-shadow: 0px 0px 5px #333333;
  -moz-box-shadow: 0px 0px 5px #333333;
  box-shadow: 0px 0px 5px #333333;
  background: #fff;
}
/* line 185, ../sass/main.scss */
.feed > li a {
  color: inherit;
  text-decoration: inherit;
}
/* line 72, ../sass/_base.scss */
.feed > li a:active, .feed > li a:focus {
  outline: none;
}
/* line 189, ../sass/main.scss */
.feed > li:active {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e5e5e5), color-stop(100%, #ffffff));
  background-image: -webkit-linear-gradient(#e5e5e5, #ffffff);
  background-image: -moz-linear-gradient(#e5e5e5, #ffffff);
  background-image: -o-linear-gradient(#e5e5e5, #ffffff);
  background-image: linear-gradient(#e5e5e5, #ffffff);
}

/* line 195, ../sass/main.scss */
.item-title {
  margin: 0;
  line-height: 1.2em;
  font-size: 1em;
  font-weight: 600;
}

/* line 203, ../sass/main.scss */
.item-thumb {
  display: inline;
  float: left;
  width: 22.91667%;
  margin: 0 0%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 204, ../sass/main.scss */
.item-thumb > img {
  max-height: 200px;
  max-width: 200px;
}

/* line 213, ../sass/main.scss */
.item-content {
  display: inline;
  float: left;
  width: 77.08333%;
  margin: 0 0%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 1em;
}

/* line 218, ../sass/main.scss */
.item-details {
  font-size: 0.9em;
}

/* SINGLE ---------- */
/* line 224, ../sass/main.scss */
#top-bar-single {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #222222), color-stop(100%, #444444));
  background: -webkit-linear-gradient(#222222, #444444);
  background: -moz-linear-gradient(#222222, #444444);
  background: -o-linear-gradient(#222222, #444444);
  background: linear-gradient(#222222, #444444);
  display: inline;
  float: left;
  width: 100%;
  margin: 0 0%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: #666666 0 1px 2px;
  -moz-box-shadow: #666666 0 1px 2px;
  box-shadow: #666666 0 1px 2px;
  padding: 0.3em;
  position: fixed;
  z-index: 999;
  border: 2px solid #444444;
}
/* line 233, ../sass/main.scss */
#top-bar-single a, #top-bar-single h1, #top-bar-single span {
  display: inline;
  float: left;
  width: 25%;
  margin: 0 0%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 237, ../sass/main.scss */
#top-bar-single h1 {
  display: inline;
  float: left;
  width: 50%;
  margin: 0 0%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #fff;
  float: left;
  margin: 0.3em 1em 0;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* line 248, ../sass/main.scss */
#top-bar-single div {
  display: inline;
  float: left;
  width: 8.33333%;
  margin: 0 0%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 254, ../sass/main.scss */
.single-header {
  margin: 40px 0 0;
  padding: 10px;
  overflow: hidden;
  *zoom: 1;
  background: #fff;
  -webkit-box-shadow: #666666 0 0 2px;
  -moz-box-shadow: #666666 0 0 2px;
  box-shadow: #666666 0 0 2px;
  margin-bottom: 0.5em;
}
/* line 266, ../sass/main.scss */
.single-header .item-details {
  line-height: 1.1em;
}

/* line 272, ../sass/main.scss */
.single-content {
  padding: 0.5em;
  display: inline;
  float: left;
  width: 100%;
  margin: 0 0%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  background: #fff;
  -webkit-box-shadow: #666666 0 0 2px;
  -moz-box-shadow: #666666 0 0 2px;
  box-shadow: #666666 0 0 2px;
}
/* line 279, ../sass/main.scss */
.single-content p {
  font-size: 0.8em;
  line-height: 1.1em;
}
/* line 284, ../sass/main.scss */
.single-content #mapCanvas {
  display: inline;
  float: left;
  width: 100%;
  margin: 0 0%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: #666666 0 0 2px;
  -moz-box-shadow: #666666 0 0 2px;
  box-shadow: #666666 0 0 2px;
  margin-bottom: 10px;
  height: 100px;
  overflow: hidden;
}

/* line 295, ../sass/main.scss */
.social {
  display: inline;
  float: left;
  width: 100%;
  margin: 0 0%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0.5em 0 1em;
}
/* line 298, ../sass/main.scss */
.social div {
  display: inline;
  float: left;
  width: 50%;
  margin: 0 0%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 5px;
  text-align: center;
  font-size: 0.9em;
  -webkit-box-shadow: #444444 1px 1px 3px;
  -moz-box-shadow: #444444 1px 1px 3px;
  box-shadow: #444444 1px 1px 3px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e5e5e5), color-stop(100%, #e1e1e1));
  background-image: -webkit-linear-gradient(#e5e5e5, #e1e1e1);
  background-image: -moz-linear-gradient(#e5e5e5, #e1e1e1);
  background-image: -o-linear-gradient(#e5e5e5, #e1e1e1);
  background-image: linear-gradient(#e5e5e5, #e1e1e1);
}
/* line 304, ../sass/main.scss */
.social div:first-child {
  border-right: 1px solid #54b948;
}

/* FOOTER ------------ */
/* line 315, ../sass/main.scss */
.sorting {
  width: 100%;
  position: fixed;
  bottom: 0;
  background: #444444;
  padding: 0.5em;
}

/* line 340, ../sass/main.scss */
#settings-drawer {
  background: #222;
  color: #fff;
  height: 80px;
  width: 100%;
  padding-top: 30px;
  text-align: center;
  position: fixed;
  bottom: 0;
  display: none;
}

/* NOW ----------- */
/* line 353, ../sass/main.scss */
.page-now {
  font-size: 0.9em;
  line-height: 1.3em;
  padding: 2%;
  margin: 1%;
  border-bottom: 1px solid #aaa;
  -webkit-box-shadow: 0px 0px 5px #333333;
  -moz-box-shadow: 0px 0px 5px #333333;
  box-shadow: 0px 0px 5px #333333;
  background: #fff;
}
/* line 363, ../sass/main.scss */
.page-now .welcome-msg {
  font-size: 1.2em;
  font-weight: bold;
  margin: 0.5em 0 1em;
}
/* line 370, ../sass/main.scss */
.page-now h2 {
  margin-top: 1em;
  font-size: 1em;
  font-weight: bold;
}
/* line 376, ../sass/main.scss */
.page-now p {
  font-size: 0.9em;
}
/* line 381, ../sass/main.scss */
.page-now .feed > li {
  -webkit-box-shadow: 0 0 0 transparent;
  -moz-box-shadow: 0 0 0 transparent;
  box-shadow: 0 0 0 transparent;
  font-size: 0.9em;
  line-height: 1.3em;
  padding: 2%;
  margin: 0%;
  border-bottom: none;
}

/* NEWS ----------- */
/* line 398, ../sass/main.scss */
#feed-news li {
  padding: 0.8em;
}

/* line 403, ../sass/main.scss */
.snippet, .source {
  display: inline;
  float: left;
  width: 100%;
  margin: 0 0%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 0.9em;
}

/* line 408, ../sass/main.scss */
.source, .date {
  font-weight: bold;
}

/* line 412, ../sass/main.scss */
.source {
  color: #b83939;
}

/* PLACES ---------- */
/* line 418, ../sass/main.scss */
.action-list {
  display: inline;
  float: left;
  width: 100%;
  margin: 0 0%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 0.5em;
}
/* line 422, ../sass/main.scss */
.action-list ul {
  overflow: hidden;
  *zoom: 1;
}
/* line 425, ../sass/main.scss */
.action-list ul li {
  width: 49%;
  float: left;
  text-align: center;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e5e5e5), color-stop(100%, #cccccc));
  background-image: -webkit-linear-gradient(#e5e5e5, #cccccc);
  background-image: -moz-linear-gradient(#e5e5e5, #cccccc);
  background-image: -o-linear-gradient(#e5e5e5, #cccccc);
  background-image: linear-gradient(#e5e5e5, #cccccc);
  padding: 0.7em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-right: 0.2em;
}
/* line 433, ../sass/main.scss */
.action-list ul li:last-child {
  margin-right: 0;
}

/* line 440, ../sass/main.scss */
.single-place-nav {
  color: #fff;
}
/* line 446, ../sass/main.scss */
.single-place-nav li {
  background: #444444;
  border-bottom: 2px solid #aaaaaa;
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
  width: 30%;
  padding: 0.3em;
  font-size: 0.9em;
  margin: 0 0.5%;
}
/* line 456, ../sass/main.scss */
.single-place-nav li:last-child {
  margin: 0;
}
/* line 460, ../sass/main.scss */
.single-place-nav li:hover {
  background: #aad49a;
}
/* line 464, ../sass/main.scss */
.single-place-nav li.selected {
  background: #ded57f;
  color: #000;
}

/* line 473, ../sass/main.scss */
.place-info p {
  display: inline;
}
/* line 476, ../sass/main.scss */
.place-info > .item-details {
  display: inline;
  float: left;
  width: 100%;
  margin: 0 0%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: right;
  font-size: 0.9em;
}
/* line 481, ../sass/main.scss */
.place-info > .item-details li {
  margin-bottom: 0.5em;
}
/* line 484, ../sass/main.scss */
.place-info > .item-details li .detail-title {
  font-weight: bold;
}

/* line 491, ../sass/main.scss */
#placeMapCanvas {
  height: 100px;
  display: inline;
  float: left;
  width: 41.66667%;
  margin: 0 0%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  margin: 0 0.5em 0 0.5em;
}

/* SPECIALS ---------- */
/* line 502, ../sass/main.scss */
.specials .item-thumb {
  background: green;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: red;
  -moz-box-shadow: red;
  box-shadow: red;
}

/* line 509, ../sass/main.scss */
.special-status {
  background: #999;
  width: 100%;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
}
/* line 515, ../sass/main.scss */
.special-status button {
  font-size: 1.5em;
  width: 90%;
  display: block;
  margin: auto;
}

/* MAP ---------- */
/* line 526, ../sass/main.scss */
#map_mode {
  height: 100%;
  position: relative;
  overflow: hidden;
}

/* line 532, ../sass/main.scss */
#map_canvas {
  overflow: hidden;
  *zoom: 1;
  width: 100%;
  background-color: green;
  min-height: 100%;
  height: 100%;
}

/* line 540, ../sass/main.scss */
.load-more {
  width: 30%;
  position: absolute;
  bottom: 40px;
  right: 0;
  background: yellow;
  padding: 0.5em;
}

/* line 549, ../sass/main.scss */
.custom-infowindow {
  padding: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: auto;
  background: url("../../img/assets/black-trans.png");
  color: #fff;
  position: absolute;
  top: 85px;
  max-height: 100px;
  overflow: hidden;
  *zoom: 1;
}
/* line 561, ../sass/main.scss */
.custom-infowindow .infowindow-info {
  float: left;
  width: 86%;
  padding: 0.4em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 0.9em;
  text-shadow: 1px 1px 1px black;
}
/* line 570, ../sass/main.scss */
.custom-infowindow img {
  width: 50px;
  height: 50px;
  float: left;
  margin-right: 15px;
}
/* line 577, ../sass/main.scss */
.custom-infowindow .next, .custom-infowindow .prev {
  width: 7%;
  padding: 0.4em 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 581, ../sass/main.scss */
.custom-infowindow .next img, .custom-infowindow .prev img {
  width: 100%;
  height: auto;
}
/* line 589, ../sass/main.scss */
.custom-infowindow .next {
  float: right;
}
/* line 594, ../sass/main.scss */
.custom-infowindow .prev {
  float: left;
}
