@import "compass/css3";
@import "compass/reset";
@import "compass/typography";
@import "grid";

// Font not working now - compiling wrong file path
//@import "font-awesome";

//////////
/* GRID */
//////////

// Specify the number of columns and set column and gutter widths
$columns: 12;
$column-width: 100/12;
$gutter-width: 0;

// Remove the definition below for a pixel-based layout
$total-width: 100%;

////////////
/* COLORS */
////////////

$dark-grey: #444;
$med-grey: #aaa;
$light-grey: #f1f1f1;
$green: #6BAA55;
$light-green: #AAD49A;
$red: #B83939;
$yellow: #DED57F; 
$orange: #FF9F00;


//////////
/* CSS3 */
//////////

// text shadow constants
$default-text-shadow-color: #111;
$default-text-shadow-h-offset: 0.05em;
$default-text-shadow-v-offset: 0.05em;
$default-text-shadow-blur: 0.08em;


////////////
/* MIXINS */
////////////

@mixin icon($path) {
  background: url('../../img/icons/'+$path+'.png') center 10px no-repeat;
}

@mixin unstyled-link {
  color: inherit;
  text-decoration: inherit;
  &:active, &:focus {
    outline: none; } 
}

/////////////
/* EXTENDS */
/////////////

.flex-img {
	height: auto;
	width: 100%;
}

.horiz-ul {
	@include column(12);

	li {
		@include box-sizing(content-box);
		float: left;
		text-align: center;

		&:last-child {
			margin-right: 0;
		}
	}
}
