@import "compass/css3";
@import "compass/reset";
@import "compass/typography";
@import "grid";

// Font not working now - compiling wrong file path
//@import "font-awesome";

//////////
/* GRID */
//////////

// Specify the number of columns and set column and gutter widths
$columns: 12;
$column-width: 100/12;
$gutter-width: 0;

// Remove the definition below for a pixel-based layout
$total-width: 100%;

////////////
/* COLORS */
////////////

$dark-grey: #444;
$med-grey: #aaa;
$light-grey: #f1f1f1;
$light-green: #AAD49A;
$dark-green: #049444;
$green: #54B948;
$red: #B83939;
$yellow: #DED57F; 
$orange: #FF9F00;

$light-blue: #AFDFE4;
$med-blue: #58B7DD;
$dark-blue: #3d809a;

//////////
/* CSS3 */
//////////

// text shadow constants
$default-text-shadow-color: #111;
$default-text-shadow-h-offset: 0.05em;
$default-text-shadow-v-offset: 0.05em;
$default-text-shadow-blur: 0.08em;

@mixin button-gradient {
	@include background(linear-gradient($green, $light-green));
	border: 1px solid $light-green;
	color: #fff;
	font-weight: 600;
	font-size: 0.9em;
	text-align: center;
	@include single-text-shadow(#333, 1px, 1px, 2px);

	a {
		@include unstyled-link;	
	}
}

////////////
/* MIXINS */
////////////

@mixin icon($path) {
  background: $light-grey url('../../img/icons/'+$path+'.png') center 10px no-repeat;
}

@mixin unstyled-link {
  color: inherit;
  text-decoration: inherit;
  &:active, &:focus {
    outline: none; } 
}

/////////////
/* EXTENDS */
/////////////

.flex-img {
	height: auto;
	width: 100%;
}

.horiz-ul {
	@include column(12);

	li {
		@include box-sizing(content-box);
		float: left;
		text-align: center;

		&:last-child {
			margin-right: 0;
		}
	}
}
