@import "compass/css3";
@import "compass/reset";
@import "grid";

// Font not working now - compiling wrong file path
//@import "font-awesome";

//////////
/* GRID */
//////////

// Specify the number of columns and set column and gutter widths
$columns: 12;
$column-width: 100/12;
$gutter-width: 0;

// Remove the definition below for a pixel-based layout
$total-width: 100%;

////////////
/* COLORS */
////////////

$dark-grey: #444;
$light-grey: #f1f1f1;
$green: #6BAA55;
$red: #B83939;
$yellow: #DED57F; 
$orange: #FF9F00;


//////////
/* CSS3 */
//////////

// box shadow constants


////////////
/* MIXINS */
////////////

@mixin icon($path) {
  background: url('../../img/icons/'+$path+'.png') center no-repeat;
}

/////////////
/* EXTENDS */
/////////////

.flex-img {
	height: auto;
	width: 100%;
}

.horiz-ul {
	@include column(12);

	li {
		@include box-sizing(content-box);
		float: left;
		padding: 0.5em;
		margin-right: 0.5em;
		text-align: center;

		&:last-child {
			margin-right: 0;
		}
	}
}
