@import "base";

body {
	width: 100%;
	font-family: Helvetica, Arial, sans-serif;
}

#header-view {
	@include clearfix();
}

#login-view { 
	background: $dark-grey;
}

#welcome-logo {
	display: block;
	margin: auto;
}

#top-bar {
	background: $dark-grey;
	height: 40px;
	position: fixed;
	width: 100%;
	z-index: 999;

	&>* {
		@include column(4);
	}

	#top-logo { 
		
		img {
			width: auto;
			height: 50px;
		}
	}

	#view-options {
		padding: 0.5em;

		img {
			height: 20px;
			float: right;

			&:first-child {
				margin-left: 10px;
			}
		}
	}

	#current-user {
		text-align: center;
		display: inline;
		color: #fff;
		margin-top: 10px;
	}
}

#content-view {
	//padding: 0 0.5em;
	//margin-top: 40px;
	position: relative;
	background: $green;
}

// A hack to compensate for weird overflow with #feed-nav
#main-view {
	overflow-x: hidden;
}

/* NAVIGATION ---------- */

#feed-nav, #top-bar-single, .single-place-nav, .tags, .sorting {
	@extend .horiz-ul;
}

#feed-nav {
	margin-top: 40px;
	
	ul {
		@include clearfix;
	}

	.menu-item-wrap {
		@include column(2.4);
		@include unstyled-link;

		li {
			width: 100%;
			border-left: 1px solid #333;
			padding: 0;
			margin: 0;
			height: 60px;			
			background-color: $light-grey !important;
			
			div {
				font-size: 0.7em;
				text-align: center;
				display: block;
				margin: 45px auto auto;
			}

			&.active {
				background-color: $yellow !important;
			}

			&#now {
				@include icon('feed-nav/now');
			}

			&#places {
				@include icon('feed-nav/places');
			}

			&#events {
				@include icon('feed-nav/events');
			}

			&#bulletin {
				@include icon('feed-nav/bulletin');
			}

			&#specials {
				@include icon('feed-nav/specials');
			}			
		}
	}
}

/* COMPONENTS --------- */

.tags {
	margin: 0.5em 0;
	li {
		background-color: #f9f9f9;
		border: 1px solid #e1e1e1;
		@include border-radius(5px);
		color: #666;
		font-size: 0.8em;
		padding: 0.07em;
		margin-right: 0.5em;
	}
}

/* FEED ITEMS --------- */

.feed-page {
	background: $green;
}

.item-list>li {
	@include clearfix();
	font-size: 0.9em;
	line-height: 1.3em;
	//margin: 1% 0;
	padding: 2%;
	margin: 1%;
	border-bottom: 1px solid #aaa;
	//@include background-image(linear-gradient(#fff, #e1e1e1));
	background: #fff;

	a {
		@include unstyled-link;	
	}

	&:active {
		@include background-image(linear-gradient(#e5e5e5, #fff));		
	}
}

.item-title {
  margin: 0;
  line-height: 1.2em;
  font-size: 1em;
  @include single-text-shadow;
}

.item-thumb {
	&>img {
		@extend .flex-img;
		max-height: 200px;	
		max-width: 200px;	
	}
	
	@include column(2.75);
}

.item-content {
	
	@include column(9.25);
	li {
		font-size: 0.9em;	
	}
	padding-left: 1em;
}

/* SINGLE ---------- */

#top-bar-single {
	background: $green;
	padding: 0.3em;
	height: 30px;
	position: fixed;

	button, h1, span {
		@include column(3);
	}

	h1 {
		@include column(6);
		color: #fff;
		float: left;
		margin: 0 1em;
		text-align: center;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	div {
		@include column(1);
	}
}

.single-header {
	margin: 50px 0 10px;
	@include clearfix;
}

.single-content {
	@include column(12);
	position: relative;
	&>article {
		@include column(12);
		padding: 0.5em;
		
	}
}

/* FOOTER ------------ */

#settings-drawer {
	background: #222;
	color: #fff;
	height: 80px;
	width: 100%;
	padding-top: 30px;
	text-align: center;
	position: fixed;
	bottom: 0;
	display: none;
}

/* BULLETIN ----------- */

.snippet {
	margin-bottom: 1em;
}

// Comments

.comment-form {
	margin: 1em 0;
}

.comments {
	@include column(12);

	ol, ul {
		margin-left: 2em;
	
			li, li li {
			margin-bottom: 1em;
		}
	}
}

/* PLACES ---------- */

.single-place-nav {
	background: $dark-grey;
	color: #fff;
	border-top: 1px solid $red;
	margin-bottom: 0.5em;
	li {
		background: $dark-grey;
		border-bottom: 2px solid $red;
		border-right: 2px solid $red;

  		@include column(11/3);

  		&#favorite-place {
  			@include column(1);
  			border-right: none;
  		}

  		&.active {
  			background: #fff;
  			border-color: #fff;
  			color: #000;
  		}
	}
	
}

.place-info {
	p {
		display: inline;
	}
	&>.item-details {
		@include column(12);
		float: right;
		font-size: 0.9em;

	li {
			margin-bottom: 0.5em;

			.detail-title {
				font-weight: bold;
			}
		}
	}
}


#map_canvas {
	height: 100px;
	@include column(5);
	overflow: hidden;
	position: relative;

	.single-title {
		//text-align: center;
		padding: 0.5em;
		width: 100%;
		position: absolute;
		left: 0;
		bottom: 0;
		background: $yellow;
	}
}

/* SPECIALS ---------- */

.specials {
	.item-thumb {
		background: green;
		@include border-radius(10px);
		@include box-shadow(red);
	}
}

#special-status {
	background: #999;
	width: 100%;
	padding: 10px 0;
	position: fixed;
	bottom: 0;
	button {
		//height: 30px;
		font-size: 1.5em;
		width: 90%;
		display: block;
		margin: auto;
	}
}